@import "tailwindcss";

@font-face {
  font-family: "junegull";
  src: url("/fonts/junegull.ttf") format("truetype");
}

@font-face {
  font-family: "honey";
  src: url("/fonts/honey.ttf") format("truetype");
}

@theme {
  --font-junegull: "junegull", sans-serif;
  --font-honey: "honey", sans-serif;
  --color-mk-blue: #029dcb;
  --color-mk-white: #f5f5f5;
  --color-mk-card-sky: #b1dce5;
  --color-mk-card-purple: #7c3a8c;
  --color-mk-card-green: #537f44;
  --color-mk-card-red: #a2273c;
  --color-mk-card-blue: #2278b5;
  --color-mk-card-yellow: #ab5b38;
  --color-mk-card-yellow-sky: #f4e28e;
}

:root {
  view-transition-name: root !important;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.3s;
}

html {
  @apply font-honey h-full bg-mk-card-sky;

  &.transition {
    view-transition-name: root;
  }

  body {
    @apply h-full grid grid-rows-[1fr_auto];
  }
}
